<div class="all-content" fxFlex="60" >
  <div fxLayout="column" fxLayoutAlign="center center" >
    <h2 fxFlex="auto">TIS TODO TEST APPLICATION</h2>
    <div class="main-menu" fxLayout="row" fxLayoutGap="20px">
      <button mat-raised-button color="primary" routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
      </button>
      <button mat-raised-button color="primary" routerLink="/todo">
        <mat-icon>list_alt</mat-icon>
        Todo List
      </button>
    </div>
  </div>
  <div style="height: 20px"></div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
